
.glass{
  display: inline-block;
  color:#ffffff;
  background:#696969;
  margin: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  width: 70%;
  height: auto;
  display: inline-block;
  text-align: center;
}


#teg{
  margin-right: 25%;
  margin-left: 25%;
}


a{
  display: inline-block;
  color:#ffffff;
  background:#696969;
  margin: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  width: 90%;
  height: auto;
  display: inline-block;
  text-align: left;
}


img{
  display: inline-block;
  color:#ffffff;
  background:#696969;
  margin: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  width: 90%;
  height: auto;
  display: inline-block;
  text-align: center;
}

body{
  background: #000 url(123.jpg);
  background-attachment: fixed;
}